.link__subtitle {
  color: #FFFFFF;
  text-align: center;
  max-width: 288px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 16px auto 0 auto;
  position: relative;
  z-index: 2;
}

@media screen and (min-width:768px) {
  .link__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
    max-width: 360px;
  }
}
