.place__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0;
}

@media screen and (min-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width:1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
