.places {
  padding: 0 16px 65px 16px;
  display: grid;
  gap: 50px;
}

@media screen and (min-width:768px) {
  .places {
    gap: 75px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width:1024px) {
  .places {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (min-width:1280px) {
  .places {
    padding-right: 148px;
    padding-left: 148px;
  }
}
