.places {
  padding: 0 16px;
  display: grid;
  gap: 50px;
}

@media screen and (min-width:768px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (min-width:1024px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (min-width:1280px) {
  .places {
    padding: 0 148px;
  }
}
