.cover__subtitle {
  margin: 16px auto 0 auto;
  max-width: 288px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width:768px) {
  .cover__subtitle {
    margin-top: 32px;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
