.place__paragraph {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/*.place__paragraph:last-child {
  margin-bottom: 0;
}*/

@media screen and (min-width:1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
  }
}
