.lead__caption {
  color: #FFFFFF;
  margin: 8px 0 0 16px;
  text-align: start;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  transition: .7s ease;
}

@media screen and (min-width:768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width:1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (min-width:1280px) {
  .lead__caption {
    margin-left: 148px;
  }
}
