.place {
  display: grid;
  gap: 32px;
}

@media screen and (min-width:768px) {
  .place {
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 30px;
    /*grid-template-columns: 340px 352px;
    flex-direction: row;
    flex-wrap: wrap;*/

  }
}

@media screen and (min-width:1024px) {
  .place {
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
  }
}

@media screen and (min-width:1280px) {
  .place {
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
    column-gap: 40px;
  }
}
